.image-preview-container {
    position: relative;
}

.image-preview-close-btn {
    position: absolute; 
    top: 0;
    left: calc(100% - 25px);
}

    .image-preview-close-btn > span {
        color: white; 
        font-size: 30px;
    }

.image-preview-image {
    width: 100%; 
    border: 1px #e5e5e5 solid;  
    border-radius: 6px; 
    text-shadow: 1px 1px 2px #0000008c;
}

.image-preview-default-container {
    width: 100%;
    color:#757575;
    padding: 2rem;
    border: 1px #e5e5e5 solid;
    border-radius: 6px;
}